Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/FoliagePackV1/Textures/Landscape/ForestGround/T_ForestGround_5_N.uasset
Content/FoliagePackV1/Textures/Landscape/ForestGround/T_ForestGround_4_N.uasset
Content/FoliagePackV1/Textures/Landscape/ForestGround/T_ForestGround_3_N.uasset
Content/FoliagePackV1/Maps/Overview.umap
Content/FoliagePackV1/Maps/LayerInfos/L_Stones_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_Snow_1_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_SlopeBlend_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_Ground_1_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_Grass_2_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_Grass_1_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_ForestGround_2_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_ForestGround_1_LayerInfo.uasset
Content/FoliagePackV1/Maps/LayerInfos/L_Cliff_1_LayerInfo.uasset
Content/FoliagePackV1/Maps/Demo_Landscape_B_Winter.umap
Content/FoliagePackV1/Maps/Demo_Landscape_B.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Winter.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Road.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Winter_Light.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Winter_FoggyLight.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Overcast_Light.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Noon_Light.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Foggy_Night_B.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Foggy_Night.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Foggy_Light.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/Cloudy_Noon.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A_Light_Modes/ClearSky_Light.umap
Content/FoliagePackV1/Maps/Demo_Landscape_A.umap
